.navigation{
    margin-left: -10px;
    font-size: 25px;
    font-family: monospace;
}
.navigation > span{
    font-size: 22px;
}

/* >>>>>>>>> image section starting <<<<<<< */
.product-image {
    margin-top: 15px;
}
.selectImg{
    border: 5px solid orangered;
}
.product-image > div > figure > img {
    height: 100px;
    width: 160px;
    cursor: pointer;
}
.single-product-img{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.single-product-img > img{
    height: 250px;
    cursor: pointer;
    width: 400px;
}
/* >>>>>>>>>image section ending <<<<<<<<< */

/* >>>>>>>>> product-details section starting <<<<<<< */
.product-details{
    font-size: 13.5px;
}
.product-details > h3{
    text-transform: capitalize;
}
.product-details > .currency > div{
    margin-top: 10px;
    font-size: 15px;
}
.product-details > .currency > div{
    font-size: 13px;
    font-weight: bold;
    color: orangered;
}
.product-details > .currency > p{
    font-weight: bold;
    color: rgb(9, 110, 21);
}
.prodct-attatchment > div > div{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}
.brand_id{
    margin: 0%;
    margin-top: 5px;
    font-weight: bold;
}
.brand_id > span{
    font-weight: normal;
}
.single-pro-hr{
    height: 2px;
    margin: 5px 0;
    background-color: rgb(3, 1, 29);
}
/* >>>>>>>>> product-details section ending <<<<<<< */


@media (max-width:768px){
    .small-images{
        gap: 10px;
        flex-wrap: wrap;
        flex-direction: row;
    }
    .product-details > h3{
        margin-top: 20px;
    }
}
@media (max-width:405px){
    .product-image > .full-image > img{
        height: 210px;
        width: 350px;
    }
}