
.product-list-view > div{
    margin-bottom: 50px;
}
.product-list-view > div > div > img{
    height: 100%;
    width: 100%;
}
.product-details-text{
    padding-left: 30px;
}
.product-list-view > div > div > h4{
    font-weight: bold;
    color: #383838 ;
    margin-top: 12px;
    text-transform:capitalize;
}
.product-list-view > div > div > span{
    font-weight: bold;
    color: orangered;
}
.product-list-view > div > div > p{
    color: #454444 ;
}
.product-list-view > div > div > h4:hover,
.product-list-view > div > div > span:hover,
.product-list-view > div > div > p:hover{
    color: blue;
    text-decoration: underline;
}
.product-list-view > div > div > button{
    border: none;
    outline: none;
    color:#ffffff ;
    padding: 8px 10px;
    background-color: #3C3291;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    position: relative;
}



@media (max-width:768px){
    .product-list-view{
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
    }
    .product-details-text{
        padding-left: 10px;
    }
    .list-view-product{
        width: 300px;
        padding-top: 10px;
        padding-bottom: 10px;
        background-color: #ffffff;
        border: 2px solid blueviolet;
        border-radius: 5px;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        -ms-border-radius: 5px;
        -o-border-radius: 5px;
    }
    .list-view-img{
        width: 100%;
        
    }
}