.error-content{
    display: flex;
    padding-top: 100px;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}
.error-content > h1{
    font-size: 60px;
}
.error-content > h3{
    font-weight: bold;
    font-family: 'popins';
}
.error-content > p{
    max-width: 500px;
    text-align: center;
}
.error-content > .error-link > button{
    background-color: #087EFF;
    padding: 8px;
    width: 100px;
    border: none;
    color: beige;
    font-weight: bold;
}