.footer-row{
    z-index: 999 !important;
    overflow: hidden;
    background-color: red;
}
.footer{
    color: #dcdfe1;
    margin-top: 150px;
    padding-top: 50px;
    background-color: #081621;
}
/* ---------- footer brand starting ------------- */
.footer-box > .footer-brand > .footer-link{
    display: flex;
    align-items: center;
}
.footer-box > .footer-brand > .footer-link > img{
    height: 100px;
    margin-top: -40px;
    height: 70px;
}
.footer-box > .footer-brand > .footer-link > h4{
    font-size: 22px;
    font-weight: bold;
    color: #dcdfe1;
    margin-top: -30px;
}
.footer-box > .footer-brand > .footer-link > h4::first-letter{
    font-size: 30px;
    color: orange;
}
.footer-box > .footer-brand > .footer-link > h4 > span{
    color: rgb(255, 98, 41);
}
.footer-box > p{
    font-size: 14px;
}
/* ---------- footer brand ending ------------- */

/* ---- footer menu ------- */
.footer-menu-box{
    margin-top: -8px !important;
}
.footer-menu{
    color: rgb(209, 208, 207);
    margin-top: 8px;
    font-weight: 500;
    font-size: 14px;
    min-width: 100px;
}
.footer-category{
    padding-left: 50px;
}

/* ------ catagory & tranding product section's starting ------ */
.footer-box > h4{
    color: orange;
    font-weight: bold;
    position: relative;
    font-size: 17px;
    font-family: Inter sans-serif;
    text-transform: uppercase;
}
.footer-box > h4::after{
    position: absolute;
    content: '';
    left: 0%;
    bottom: 0%;
    width: 33%;
    height: 2px;
    background-color: aqua;
}
.footer-box > ul{
    padding: 0%;
}
.footer-box > ul > .footer-link > button{
    color: rgb(209, 208, 207);
    margin-top: 8px;
    font-weight: 500;
    font-size: 14px;
    display: block;
    border: none;
    outline: none;
    background-color: transparent;
}
.footer-menu:hover,
.footer-box > ul > .footer-link > button:hover{
    color: orange;
}
/* ------ catagory & tranding product section's ending ------ */


/* -------- footer contact section starting --------- */
.footer-box > ul {
    padding: 0%;
    margin: 0%;
}
.footer-box > ul > li{
    display: flex;
    font-size: 13px;
}
.footer-contact-icons{
    margin-right: 10px;
    font-size: 15px;
    margin-top: 3px;
}
.footer-social {
    display: flex;
    gap: 20px;
}
.footer-social-icons{
    font-size: 35px;
    padding: 8px;
    color: rgb(255, 255, 255);
    background-color: #212E38;
    transition: all .4s ease;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    -webkit-transition: all .4s ease;
    -moz-transition: all .4s ease;
    -ms-transition: all .4s ease;
    -o-transition: all .4s ease;
}
.footer-social-icons:hover{
    background-color: orangered;
}
/* -------- footer contact section ending --------- */
.copyright{
    padding: 5px;
    font-size: 14px;
    background-color: #212E38;
}

@media (max-width:768px){
    .footer-box{
        margin-top: 25px;
    }
    .footer-category{
        padding-left: 0px;
    }
    .footer-category > h4{
        margin-left: 10px;
    }
    .footer-box > ul{
        padding-left: 6%;
    }
}