@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

/* >>>>> spinner starting <<<<< */
.loader{
    display: flex;
    height: 60vh;
    align-items: center;
    justify-content: center;
}
.loader > img{
    height: 50px;
}
/* >>>>> spinner ending <<<<< */


/* >>>>>> add to cart section's <<<<<< */
.add-to-cart{
    border: 0cap;
    outline: 0;
    padding: 8px;
    width: 140px;
    color: beige;
    background-color: #6454F1;
}
/* >>>>>> add to cart section's<<<<<< */


/* >>>> cart amount-toggle aria starting <<<<< */
.amount-toggle{
    gap: 30px;
    display: flex;
    margin-top: -10px;
    align-items: center;
}
.amount-toggle  > p{
    padding-top: 15px;
    font-size: 20px;
}
.amount-toggle > button{
    border: none;
    outline: none;
    font-size: 22px;
    font-weight:700;
    font-family: 'Courier New', Courier, monospace;
}
/* >>>> cart amount-toggle aria ending <<<<< */
.product-list-view > div > div > button::after,
.category-btn::after,
.readMore-btn > button::after{
    position: absolute;
    content: '';
    height: 0%;
    top: 0%;
    left: 0%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    transition: all .4s ease;
    -webkit-transition: all .4s ease;
    -moz-transition: all .4s ease;
    -ms-transition: all .4s ease;
    -o-transition: all .4s ease;
}
.product-list-view > div > div > button:hover:after,
.nav-item > button:hover:after,
.readMore-btn > button:hover:after{
    height: 100%;
}


.user-data{
    display: flex;
    align-items: center;
}
.user-data > img{
    height: 40px;
    width: 40px;
    cursor: pointer;
    border-radius: 100px;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    -ms-border-radius: 100px;
    -o-border-radius: 100px;
}