*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
.container{
    max-width: 1200px;
}
html{
    scroll-behavior: smooth;
    overflow-x: hidden;
}
body{
    background-color: aliceblue;
    font-family: "Trebuchet MS", sans-serif;
}
a,
link{
    text-decoration: none;
}
li{
    list-style: none;
}
